html {font-size: 62.5%;}
body {font-size: 1em;}
span {font-size: 62.5%;}

@media (min-width: 300px) {
    html {font-size: 70%;}
    span {font-size: 70%;}
}

@media (min-width: 500px) {
    html {font-size: 80%;}
    span {font-size: 80%;}
}

@media (min-width: 700px) {
    html {font-size: 120%;}
}

#languageSelect { 
	font-size: 14px; 
	color: #6d6d72;
}

#disturbance-file-upload{
	display: block;
}

.icon-estimation{
	height: 24px;
	width: 24px;
	position: absolute;
	left: 5%;
	bottom: 10px;
}

.groupPreloader{
	display: none;
	position: relative;
	margin: 5px auto;
}

.content-info-text{
	text-align: center;
}

.progress-text{
	text-align: center;
}

.ionav{
	vertical-align: middle;
}

.settings-text{
	font-size: 14px;
}

.upload-files-list{
	font-size: 16px;
}

.file-list-element{
	list-style-type: none;
	margin-left:0px;
	padding-left:0px;
}

.file-list-element i{
	float: right;
}

.file-list-element div{
	display: inline-block;
}

.file-list-element span{
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left; 
	display: inline-block;
	padding: 0;
}

.file-list{
	height: 100%;
}

.center{
	position: relative;
	display: block;
	margin: 5px auto;
}

.icon-form-form{
	width:24px;
	height:24px;
	background-image:url(../img/form.png)
}

.icon-form-name{
	width:24px;
	height:24px;
	background-image:url(../img/name.png)
}

.icon-form-tel{
	width:24px;
	height:24px;
	background-image:url(../img/phone.png)
}

.icon-form-camera{
	width:24px;
	height:24px;
	background-image:url(../img/camera.png)
}

.icon-form-room{
	width:24px;
	height:24px;
	background-image:url(../img/door.png)
}

.icon-form-floor{
	width:24px;
	height:24px;
	background-image:url(../img/floor.png)
}

.icon-form-building{
	width:24px;
	height:24px;
	background-image:url(../img/building.png)
}

.icon-form-text{
	width:24px;
	height:24px;
	background-image:url(../img/text.png)	
}

.icon-form-group{
	width:24px;
	height:24px;
	background-image:url(../img/group.png)
}

.icon-form-delete{
	width:16px;
	height:24px;
	float: right;
	background-image:url(../img/delete.png)
}

.item-back{
	padding-bottom: 2px;
}

/* (default) Hide ther german localization */
[data-l11n=de] {
    display: none;
}

/* If lang attribute = de > hide the english localization */
:lang(de) > [data-l11n] {
    display: none;
}

/* If lang attribute = de > show the german localization */
:lang(de) > [data-l11n=de] {
    display: block;
}

/* English (default language) */
[data-i18n]::before {
   content: attr(data-i18n);
}
/* German */
[data-i18n-de]:lang(de)::before {
   content: attr(data-i18n-de);
}